<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="julotestcase.sanjaya.common">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="julotestcase.sanjaya.common.utils.initializer.FirebaseInitializer"
                android:value="androidx.startup" />

            <meta-data  android:name="julotestcase.sanjaya.common.utils.initializer.AppContextInitializer"
                android:value="androidx.startup" />

            <meta-data  android:name="julotestcase.sanjaya.common.utils.initializer.DebuggerInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
